body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

#quiz-container {
    margin-top: 20px;
}

.question {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.question p {
    font-size: 1em;
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#score {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}